/* info superior */
.superinfo-bg{
  background-color: #112ab2;
}
.superinfo{
  max-width:960px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top:10px;
}
.superinfo p, .superinfo a{
  margin:0 10px 10px 10px;
  color:#fff;
}

/* MENU */
.menu-bg{
  background-color:#2C6FFE;
}
.menu{
  max-width:960px;
  margin:0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:15px 0;
}
.menu-logo a{
  font-size:2.25em;
  color:#fff;
  margin:0 10px;
  font-weight: bold;
}
.menu-nav{
  display: block;
  margin:0 10px;
}
.menu-nav ul{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.menu-nav a{
  color:#fff;
  font-size:1.25em;
  padding:10px;
}
.menu-nav a:hover{
  color:#222;
}
@media (max-width:600px){
  .menu{
    flex-direction: column;
  }
  .menu-logo{
    margin-bottom:10px;
  }
}
.introducao{
  max-width:960px;
  font-size:3em;
  line-height: 1;
  margin:0 auto;
  padding:60px 10px;
}